nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
  width: 100vw;
  position: fixed;
  height: 80px;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: aqua;
  font-size: 30px;
  letter-spacing: 10px;
  text-transform: capitalize;
}
li {
  font-size: 20px;
  padding: 10px;
  display: inline;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  color: whitesmoke;
}
.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: aqua;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to {
    scale: 1.1;
  }
}
