/*---------header-----*/
* {
  scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(74, 73, 73);
  align-items: center;
  position: fixed;
  width: 100%;
  position: relative;
  height: 80px;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: aqua;
  font-size: 30px;
  letter-spacing: 10px;
  text-transform: capitalize;
}
li {
  font-size: 20px;
  padding: 10px;
  display: inline;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  color: whitesmoke;
}
.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: aqua;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to {
    scale: 1.1;
  }
}

/*-----home-----*/
* {
  scroll-behavior: smooth;
}
.home-container {
  background-color: black;

  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  background-size: auto;
}
@media screen and (min-width: 380px) and (max-width: 778px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }
}
a {
  text-decoration: none;
  margin-left: -100px;
}
.home-cont1 {
  color: rgb(247, 236, 236);
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
  border: 2px solid whitesmoke;
  transition: transform 1s;
  background-color: rgb(8, 8, 8);
}

.home-cont1:hover {
  transform: translateY(-20px);
  background-color: black;
  color: whitesmoke;
  border: 2px solid transparent;
}
.ip {
  margin-left: -240px;
  color: aqua;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}

.mm {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  margin: 20px;
}

.img-cont {
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}

.img {
  width: 400px;
  height: 630px;

  border-radius: 10px;

  margin-top: -30px;
}

.img:hover {
  border: 1px solid transparent;
}

.btn3:hover {
  border: 2px solid transparent;
  color: rgb(10, 10, 10);
  background-color: aliceblue;
}
.btn3 {
  background-color: aqua;
  height: 50px;
  width: 200px;
  padding: 5px;
  text-align: center;
  color: black;
  margin-right: -140px;
  margin-bottom: 5px;
  margin-left: -280px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  color: rgb(23, 24, 25);
}
a {
  text-align: center;
  color: black;
  padding-left: 30px;
  margin-left: -30px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
@media screen and (min-width: 380px) and (max-width: 990px) {
  .home-cont1 {
    height: auto;
    width: 60vw;
    justify-content: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn2 {
    text-align: center;
    margin-left: 10px;
    width: 180px;
    height: 80px;
  }
  .ip {
    margin-left: 10px;
    text-align: center;
  }
  .mm {
    margin-left: 50px;
    text-align: center;
  }
  .img {
    height: 1500px;
  }
}
/*--------about---------------*/

.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  margin-top: 10px;
}
.about-cont1 {
  flex-basis: 40%;
  min-width: 350px;
  margin: 20px;
}
.about-cont1 img {
  max-width: 100%;
  height: 70%;
}
.about-cont2 {
  flex-basis: 40%;
  min-width: 350px;
  text-align: justify;
}
.about-icons {
  text-align: center;
}
.fa-brands {
  font-size: 50px;
  margin: 10px;
  color: whitesmoke;
  border-radius: 100px;
  width: 60px;
}
.fa-brands:hover {
  color: aqua;
  animation-delay: 1s;
}
.fa-solid {
  font-size: 50px;
  margin: 10px;
  color: whitesmoke;
  border-radius: 100px;
  width: 60px;
}
.fa-solid:hover {
  color: aqua;
}
.names {
  margin-left: 20px;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 5;
  margin: 16px;
}
/* .About-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 380px) and (max-width: 990px) {
  .About-container {
    display: flex;
    flex-direction: column;
    height: 1900px;
    justify-content: center;
    align-items: center;
  }
}
.about-cont1 {
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -100px;
  margin: 10px;
  padding: 10px;
}
.llo {
  margin-bottom: -40px;
  border-radius: 10px;
  transition: transform 1s;
  background-color: black;
  border: 1px solid transparent BLACK;
}
.llo:hover {
  transform: translateY(-30px);
  background: radial-gradient(aqua, white);
}
.about-cont2 {
  margin: 10px;
  padding: 10px;
  width: 50vw;
  height: 90vh;
  border: 0px solid gainsboro;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 380px) and (max-width: 990px) {
  .about-cont2 {
    border: 0px solid gainsboro;

    border-radius: 10px;
    height: 180vh;
  }
  .names {
    font-size: 20px;

    width: 50vw;
  }
}
.about-head {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 75px;
  text-shadow: 1px 20px rgb(152, 147, 147);
}
.about-cont3 {
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  width: 50vw;
  height: 80vh;
  display: flex;
  transition: transform 1s;
}
.about-cont3:hover {
  transform: translateX(-20px);
}
.names {
  margin-left: 20px;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 5;
  margin: 16px;
}
.about-icons {
  text-align: center;
}
.fa-brands {
  font-size: 150px;
  margin: 10px;
  color: whitesmoke;
  border-radius: 100px;
  width: 60px;
}
.fa-brands:hover {
  color: aqua;
  animation-delay: 1s;
}
.fa-solid {
  font-size: 30px;
  margin: 10px;
  color: whitesmoke;
  border-radius: 100px;
  width: 60px;
}
.fa-solid:hover {
  color: aqua;
} */
/*----------projects---------*/
.projects-container {
  background-color: black;
  width: 100%;
  height: 100vh;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
}
.Project-cont1 {
  height: 17vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Project-head {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-shadow: 2px 20px grey;
  color: whitesmoke;
  font-size: 80px;
  text-align: center;
}
.project-cont2 {
  margin: 20px;
  width: 100vw;
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.kk {
  width: 19vw;
  height: 50vh;
  margin: -50px;
  border-radius: 10px;
  flex-wrap: wrap;
}
.project-cont2 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 18rem;
  justify-content: stretch;
}
@keyframes scroll {
  to {
    translate: calc(-1 * 15rem);
  }
}
.kk {
  animation: scroll 10s linear infinite;
}
/*------skills-------*/
.skills-container {
  width: 100%;
  height: 100%;
  background-color: black;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 380px) and (max-width: 990px) {
  .skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.skills-cont1 {
  height: 17vh;
  margin-bottom: -30px;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-head {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-shadow: 2px 20px grey;
  color: whitesmoke;
  font-size: 80px;
}
.skills-cont2 {
  border: 2px solid white;
  height: 80vh;
  width: 90vw;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
}

.cont2-head {
  color: whitesmoke;
  margin: 10px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.pp {
  height: 25px;
  width: 100%;
  background-color: gray;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  border-bottom-right-radius: 50px;

  border-top-right-radius: 50px;
  border: 1px solid transparent;
}
.ll1 {
  height: 24px;
  width: 99%;
  background-color: aqua;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  margin-top: -0px;
  text-align: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: 3px solid transparent;
}
.ll2 {
  height: 24px;
  width: 90%;
  background-color: aqua;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  margin-top: -0px;
  text-align: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: 3px solid transparent;
}
.ll3 {
  height: 24px;
  width: 85%;
  background-color: aqua;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  margin-top: -0px;
  text-align: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: 3px solid transparent;
}
.ll4 {
  height: 24px;
  width: 80%;
  background-color: aqua;
  margin-top: -0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: 3px solid transparent;
}
.ll5 {
  height: 24px;
  width: 99%;
  background-color: aqua;
  margin-top: -0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: 3px solid transparent;
}
.ll6 {
  height: 24px;
  width: 50%;
  margin-top: -0px;
  background-color: aqua;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: 3px solid transparent;
}
/*--------------------------contactus--------------------------------*/
/* .contact-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ee {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  width: 1300px;
  flex-wrap: wrap;
}
@media screen and (min-width: 200px) and (max-width: 990px) {
  .ee {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: auto;
  }
  .contact-head {
    background-color: blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.contact-head3 {
  margin: 15px;
}
.contact-head {
  color: whitesmoke;
  margin-top: -20px;

  flex-wrap: wrap;
  width: 70vw;
  margin: 20px;
  height: 49vh;
  width: 25vw;
  display: flex;
  margin-left: -200px;

  align-items: center;

  justify-content: center;
  transition: transform 1s;
}

.contact-head:hover {
  transform: translateY(-10px);
}
.contact-head2 {
  margin: 10px;
  margin-top: 10px;
  margin-left: -30px;
  display: flex;
  height: 40vh;
  flex-direction: column;
  justify-content: center;
}
.fa-solid {
  margin: 5px;
  display: flex;
}
.zz {
  width: 70%;
  background-color: aqua;
  height: 5px;
  border-radius: 10px;
  border: 0;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.fa-brands:hover {
  color: aqua;
}
.fa-brands {
  font-size: 30px;
  margin: 10px;
  display: flex;

  flex-direction: row;

  width: 25px;
}
.contact-form {
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}
.contact-form:hover {
  transform: translateX(-20px);
}
input,
label {
  width: 19vw;
  color: whitesmoke;
  height: 5vh;
  border-radius: 5px;
  font-size: 20px;
  border: 0px solid transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 15px;
  text-align: center;
}
.qq {
  width: 40vw;
  height: 30vh;
}
.ww {
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 90px;
  height: 50px;
  font-size: 30px;
  border-radius: 5px;
  background-color: aqua;
  color: rgb(12, 11, 11);
  border: 2px solid aqua;
}
.ww:hover {
  color: rgb(236, 229, 229);
  background-color: rgb(9, 9, 9);
} */
.contact-container {
  background-color: black;
  padding: 20px;
  height: 100%;
  width: 100;
  margin-top: 10px;
}
.ee {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}
.contact-head {
  flex-basis: 25%;
  min-width: 350px;
  background-color: transparent;
  padding: 20px;
  margin: 20px;
}
.contact-form {
  flex-basis: 50%;
  min-width: 350px;
  height: 50vh;

  padding: 20px;
  margin: 20px;
}
.fa-solid {
  margin: 5px;
  display: flex;
}

input,
label {
  width: 45vw;

  height: 5vh;

  border-radius: 5px;
  font-size: 20px;
  border: 0px solid transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 15px;
  text-align: center;
}

.ww {
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 30px;
  height: 50px;
  font-size: 30px;
  border-radius: 5px;
  background-color: aqua;
  color: rgb(132, 9, 9);
  border: 2px solid aqua;
}
.ww:hover {
  color: rgb(236, 229, 229);
  background-color: rgb(9, 9, 9);
}
.fa-location-dot {
  font-size: 20px;
  padding: 20px;
}
.fa-phone {
  font-size: 20px;
  color: white;
  padding: 20px;
}
/*------------------------------copyright--------------------*/
/* .card11 hr {
  color: red;
  border: 1px solid red;
  width: 90%;
  margin-left: 5%;
} */
.card11 h3 {
  text-align: center;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
